<form action='/add' method='POST' class='card'>
  <label for="name">Name</label>
  <input type="text" name="name">
  <label for="description">Description</label>
  <textarea name="description"></textarea>
  <br>
  <br>
  <ul class="tags">
    <% const choices = ['Wifi', 'Open Late', 'Family Friendly', 'Vegatarian', 'Licensed'] %>
    <% choices.forEach(choice => { %>
      <li class="tag tag__choice">
        <input type="checkbox" name="tags" id='<%= choice %>' value='<%= choice %>'>
        <label for="<%= choice %>"><%= choice %></label>
      </li>
    <% }) %>
  </ul>
  <input type="submit" value='Save' class='button'>
</form>
